.small,
%small {
	@include font-size($small-font-size);
}

.medium,
%medium {
	@include font-size($medium-font-size, 42px);
}

.large,
%large {
	@include font-size(33px, 40px);

	@include respond-to('>=tablet'){
		@include font-size(62px, 88px);

	}
}

.huge,
%huge {
	@include font-size($huge-font-size);
}

.big,
%big {
	@include font-size($big-font-size);
}

h1,
%alpha,
.alpha { 
	@include respond-to('<tablet'){
		@include font-size(18px, 25px); 
	}

	@include respond-to('>=tablet', '<desktop') {
		@include font-size(24px, 33px);
	}
	
	@include respond-to('>=desktop', '<=1280') {
		@include font-size(24px, 33px);
	}

	@include respond-to('>1280', '<=monitor') {
		 @include font-size(28px, 38px); 
	}

	@include respond-to('>monitor') {
		@include font-size(34px, 46px); 
	}

}

h2,
.beta {
	// @include font-size(19px, 30px);
	// font-family: $heading2-font-family;
	@extend .c-brand;
	
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-bottom: 15px; 
}

.project-description h2, 
.module--text h2 {
	margin-bottom: 10px;

	@include respond-to('>=tablet') {
		margin-bottom: 15px; 
	}
}



h3 {
	margin-bottom: 0; 
	color: color('medium-gray'); 
}

%f-base,
.f-base {
	font-family: $base-font-family;
}


/// Merriweather-Bold
%f-alt,
.f-alt {
	font-family: $heading-font-family;
}

/// Yoga-Sans-Medium
%f-alt2,
.f-alt2 {
	font-family: $heading-font-family;
}

%f-special2,
.f-special2 {
	font-family: $special-font-family;
}

.large.f-special2 {
	line-height: px-to-em(68px, 62px);
}


.menu-label {
	@include font-size(12px, 12px);
	text-transform: uppercase;
}

.label {
	font-family: $special-font-family; 
	color: color('brand'); 
	@include font-size(12px, 12px);
	letter-spacing: 4px; 
}

.label {
	margin-bottom: 10px; 
	@include respond-to('>=tablet') {
		margin-bottom: 10px; 
	}
}

.project-header .label {
	margin-bottom: 5px; 
	@include respond-to('>=tablet') {
		margin-bottom: 10px; 
	}
}

a {
	text-decoration: none;
	color: inherit;
}

// .content a {
// 	color: color('brand');
// 	@extend %underline;
// }

.brand-link {
	color: color('brand'); 
}

.hero-link {
	color: color('brand'); 
	display: inline-block;

	@include respond-to('>=tablet') {
		display: inline-block; 
	}
}

.has-arrow {
	svg {
		display: inline-block;
		height: 10px; 
		margin-left: 10px; 
	
		@include respond-to('<tablet') {
			display: none; 
		}

		* {
			stroke: red;
			fill: none; 
			stroke-width: 1.3px; 
		}
	}
}

.has-arrow.has-margin {
	margin-top: 35px; 
}


blockquote {
	max-width: 640px;  
	margin: 0 auto; 


	@include respond-to('>1280', '<=monitor') {
		 max-width: 730px; 
	}

	@include respond-to('>monitor') {
		max-width: 890px; 
	}

	p {
		margin-bottom: 0.5em; 
		// font-style: italic; 
		color: color('medium-gray'); 
	}
}

figcaption {
	text-align: center;
	color: color('brand'); 
	color: color('medium-gray'); 
}



.live_label {
	font-size: 9px;
	letter-spacing: 1px; 
}


.label--next-project-name {
	font-family: 'LabGrotesque-Light', Helvecita, Arial, sans-serif; 
	@include font-size(25px);	

	@include respond-to('>=tablet') {
		@include font-size(40px);
	}
}


footer a {
	color: color('text'); 
	@extend %underline;
}

footer p {
	margin-bottom: px-to-em(13px); 
}

.content--alt.content {
	a:before,
	a:after {
		 background-color: color('text-alt');
	}
}

.alternative-headings h2 {
	font-family: $base-font-family;
	@include font-size(32px, 37px);
	margin-top: px-to-em(50px, 32px);
	margin-bottom: px-to-em(30px, 32px);

	// @include respond-to('<tablet'){
	// 	@include font-size(26px, 36px);
	// }
}

.text--teaser {
	p {
		font-family: $heading-font-family;

		@include respond-to('>=tablet'){
			@include font-size(40px, 50px);
		}
	}
}

.is-medium {
	p {
		@include font-size($base-font-size);

		@include respond-to('>=tablet'){
			@include font-size($medium-font-size, 42px);
		}
	}
}

.module--headline {
	text-align: center;
	&.is-h2 {
		text-align: left;
	}
}


::selection {
	background: lighten(color('brand'),10%); 
} 

